
.Home {
    position: relative;
    background-image: radial-gradient(
      farthest-corner at 40px 40px,
      #f9fbfc 60%,
      rgba(0, 60, 255, 0.5) 100%
    );
    min-height: calc(100vh - 60px);
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    color: black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  }


.Home__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 350px) {
  .Home__container {
    justify-content: unset;
  }
}

.Header__icone{
  cursor:pointer;
  width:5%;
  margin-left:95%;
}

.menu.active{
  opacity: 1;
  visibility:visible;
  margin-left:80%;
  width:20%;
  border: solid black 1px;
}

.menu{
  opacity:0;
}
