.Cadastro{    
    border:solid rgb(8, 8, 8) 1px;
    padding:1rem;
    margin:1rem;
}

.Cadastro.active{
    position:absolute;
    opacity:0;
}

.Fechar{
    display:none;
    border:solid black 1px;
    width:5%;
    display:flex;
    justify-content:center;
    margin-bottom:.5rem;
    cursor:pointer;
}

.Fechar:hover{
    border:solid red 1px;
    background-color:red;
    color:white;
    width:5%;
    display:flex;
    justify-content:center;
    margin-bottom:.5rem;
    cursor:pointer;
}

.Formulario1{
    padding:1rem;
    display:flex;
    align-items:center;
    flex-direction:column;
    margin-bottom:2rem;    
}

.Formulario2{
    padding:1rem;
    display:flex;
    align-items:center;
    flex-direction:column;
    margin-bottom:2rem;    
}

.Formulario3{
    display:none;
    padding:1rem;
    display:flex;
    align-items:center;
    flex-direction:column;
    margin-bottom:2rem;    
}

input{
    margin-bottom:.5rem;
    width:20rem;
}

.botoes{
    display:flex;
    justify-content:space-around;
    width:100%;
}

.Formulario1.active{
    padding:1rem;
    border:solid black 1px;
    display:none;
    align-items:center;
    flex-direction:column;
    margin-bottom:2rem;    
}

.Formulario2.active{
    padding:1rem;
    border:solid rgb(8, 8, 8) 1px;
    display:flex;
    align-items:center;
    flex-direction:column;
    margin-bottom:2rem;    
}

